:root {
  --primary-color: #5181B8;
  --secondary-color: #224B7A;
  --link-color:#5089c2;

  --content-bg-color:#E7E8EC;
  --content-bg-shadow-color:#d3d9de;
  --red-color:#E64646;
  --dark-red-color:#DB3B3B;

  --grey-color:#939393;
  --light-blue-color:#DAE2EA;

  --header-bg-color:#4A76A8;
  --header-bg-dark-color:#2e537e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #EDEEF0;
  font-weight: 400;
}

ul,ol {
  list-style: none;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}